.top{
    position: fixed;
    left: 360px;
    top: 0;
    height: 123px;
    width: calc(100vw - 360px);
    background: #ffffff;
    z-index: 1;
}

.left{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 360px;
    background: #ffffff;
    z-index: 1;
}

.main{
    position: fixed;
    left: 360px;
    top: 123px;
    padding: 30px;
    height: calc(100vh - 183px);
    width: calc(100vw - 420px);
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,.2);
    z-index: 0;
}