@import "material-icons/iconfont/material-icons.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

body, html {
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
}